 /*{
    margin:0;
    padding:0;
} */
body{
  background-color: rgb(248, 243, 236);
  background-image: url();
}
topnav{
    background-color: blanchedalmond;
    font-size: larger;
    overflow: hidden;
}
.topnav a{
    position: relative;
    left: 70%;
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: double;
    font-size: 20px;
}
.h1 h2{
    text-decoration: none;
    font-size: 30%;
}
.menu li a{
   font-size: larger;
   position: relative;
   left: 40%;
   overflow: hidden;
   text-align: center;
   padding: 30px 60px;
   font-size: 35px;
   list-style: none;
}